---
layout: default
---

<div class="notebook">
  <h1 class="notebook-title">{{ page.title }}</h1>
  <div class="project-skills">
  Skills: {{ page.skills}}
  </div>
  <a href={{page.external_url}}>{{page.external_type}}</a>
  {{ content }}
</div>

<hr>
<div class="back-to-top">
<i class="fa fa-arrow-circle-up fa-2x animated infinite pulse" aria-hidden="true"></i>
</div>

<!-- Scroll back to top for notebooks -->
  <script>
    $(".back-to-top").click(function(){
    $('body,html').animate({
        scrollTop: 0
    }, 2000);
    });
  </script>

  
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>