---
layout: default
---

<div class="notebook">
  <h1 class="notebook-title">{{ page.title }}</h1>
  <div class="project-skills">
  Skills: {{ page.skills}}
  </div>
  <a target="_blank" href={{page.external_url}}>{{page.external_type}}</a>
  {{ content }}
</div>

<hr>
<div class="back-to-top">
<i class="fa fa-arrow-circle-up fa-2x animated infinite pulse" aria-hidden="true"></i>
</div>


  <!-- MathJax script -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>